@import "layout.css";
/*@import "_debug.css";*/


header > section > h4 {
    margin: 0 1.85rem;
    padding-top: 0.4rem;

    color: red;
    font-size: 1.25rem;
    font-weight: 350;
}

nav > menu >  img {
    height: 1.55rem;
    margin: 0.30rem;

    align-self: center;
    aspect-ratio: auto 272 / 92;
}

main > img {
    max-height: 6.5rem;
    align-self: center;
    aspect-ratio: auto 272 / 92;
}

.searchbar {
    width: clamp(20rem, 60vw, 40rem);
    height: auto;
    margin: 1rem auto;
    padding: 0 0.5rem;

    border: 0.1rem solid gray;
    border-radius: 1.5rem;
    box-shadow: none;
    outline: none;
}

.searchbar:hover {
    box-shadow: 0 0.05rem 0.05rem gray;
}

.searchbar > input {
    width: 100%;
    height: auto;
    padding: 0 1rem;

    border: 0;
    outline: none;
    background-color: transparent;

    font-size: 1em;
    line-height: 2.75rem;
}

form {
    width: 100%;
    max-width: clamp(50%, 50rem, 100%);
    padding: 0 min(3rem, 10vw);
}

main > form {
    align-self: center;
}

form fieldset {
    border: none;
    text-align: left;
    font-size: 0.8rem;
}

form fieldset > label {
    display: flex;
    place-content: center flex-start;
    place-items: center;
    flex-wrap: wrap;
    overflow: hidden;

    width: 100%;
    margin: 0;
}

form fieldset span {
    min-width: 6rem;
    margin: 0.5rem 1em;

    flex: 1
}

form fieldset input {
    height: 1.75rem;
    padding: 0 1rem;

    flex: auto;
}

form > menu {
    place-content: center;
    padding: 0;
}

button {
    height: 2.55rem;
    margin: 1rem 0.5rem;
    padding: 0 1.15rem;

    border: 1px solid transparent;
    border-radius: 0.25rem;

    font-size: 1rem;
    text-align: center;
    line-height: 1.6rem;

    cursor: pointer;
    user-select: none;
}

button.primary {
    background-color: dodgerblue;

    color: white;
    font-weight: bold;
}

button:hover {
    box-shadow: 0 0.05rem 0.05rem gray;
    border: 1px solid gray;
}

button.primary:hover {
    box-shadow: 0 0.05rem 0.05rem darkblue;
    border: 1px solid darkblue;
}
